<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class:"example_hoge", fallback: "no_image.jpg" %>
  <!--refile特有の記述ルール-->
  <!--%= attachment_image_tag 保存先インスタンス名, :保存先カラム名, :サイズ（横幅,高さ）, 画像拡張子, 代替画像 %-->
  <!--実際のカラムは「profile_image_id」ですが、_idを外したカラム名（profile_image）で指定します（refileの仕様）。-->
  <!--:fillで表示されない場合は、size:で指定してください。-->
  <!--この際、×（かける）ではなく、x（小文字のエックス）になりますので注意しましょう-->
  
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<%= render 'post_images/list', post_images: @post_images %>